* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

.layout-nav {
    background-color: #c3c6b1;
}

.nav__title {
    font-size: 2rem;
    color: black;
    font-family: "Special Elite", cursive;
    text-decoration: none;
}

.nav__link {
    margin-right: 10px;
    margin-left: 10px;
    color: #4b553a;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.nav__link:hover{
    color: black;
}

main {
    flex-grow: 1;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
}

footer {
    padding: 0.6rem;
    background-color: #c3c6b1;
    font-family: "Montserrat", sans-serif;
    font-weight: 0.8rem;
    color: #4b553a;
    text-align: center;
}

.card_btn {
    margin: 10px;
    
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 1rem;
}
.cardProducts {
    width: 11rem;
    height:30rem;
    padding: 0.5rem;
    margin-top: 2rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transition: all 0.4 ease;
    cursor: pointer;
    object-fit: cover;
}


.cardImg {
    width: 8rem;
    height: 12rem;
    align-items: center;
}
.cardImg:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}


