* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

.layout-nav {
    background-color: #293241;
}

.nav__title {
    font-size: 2rem;
    color: #f4f4f4;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
}

.nav__title:hover{
    color: #f4f4f4;
    text-decoration: underline;
    
}

.nav__link {
    margin-right: 10px;
    margin-left: 10px;
    color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.nav__link:hover{
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    
}

main {
    flex-grow: 1;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
}

footer {
    padding: 0.6rem;
    background-color: #3d5a80;
    font-family: "Montserrat", sans-serif;
    font-weight: 0.8rem;
    color: #f4f4f4;
    text-align: center;
}

.quantityCount{
    display: flex;
    justify-content: space-around;
}

.card_btn {
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    
    
}

.card_btn1 {
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 1rem;
}
.cardProducts {
    width: 11rem;
    height:30rem;
    padding: 0.5rem;
    margin-top: 2rem;
    align-items: center;
    background-color: #ffffff;
    /* border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3); */
    transition: all 0.4 ease;
    cursor: pointer;
    object-fit: cover;
}


.cardImg {
    width: 8rem;
    height: 12rem;
    align-items: center;
}
.cardImg:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}

.spinner {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.imgDetail {
    width: 150px
}

.itemDetail {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    border-radius: 2px;
    border: 0.5px solid #3d5a80;
    padding: 10px;
}


.itemDescription {
    display: flexwrap;
    
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;   
    border-radius: 5px;
    padding: 10px;
}



